*{
    box-sizing: border-box;
}
html{
    padding-top: 50px;
}

body{
    
    border-radius: 20px;
    padding: 40px;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background:url("https://marketplace.canva.com/EAE-xnqWvJk/1/0/1600w/canva-retro-smoke-and-round-light-desktop-wallpapers-JLofAI27pCg.jpg");
 background-repeat: no-repeat;
 border: 8px solid green;
}#clock{
    height: 120px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 4em;
}
h2{
    text-align: center;

}
#alarm-container{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6em;
    padding: 0.7em;
    color: white;
}
label{
    display: inline-block;

}
.timeofday{
    background-color: #eee;
}
.bigger{

    font-weight: bold;
    font-size: 18px;

}
#sound{
    text-align: center;
    padding-top: 20px;


}
#setbutton{
    float: left;
    background-color: lightgreen;
    margin-top: 10px;
    cursor: pointer;
}
#clearbutton{
    float: right;
    background-color: red;
    margin-top: 10px;
    cursor: pointer;
}